
.robot-message {

  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: start;

}

.user-message {

  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  display: flex;
  justify-content: end;

}

.message-content {
  background-color: oklab(95.213% 0 -0.00011);
  padding: 15px;
  border-radius: 10px;
  margin: 0 10px;
  max-width: 50%;

  /* 🔥 THIS is what you're missing */
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}
